.button{
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: rgb(245, 245, 227);
    outline: 1px solid lightgray;
    width: 80px;
}

#operator{
    color: aqua;
  }